FrontEnd/FrontEnd/Connected Services/ReporteGeneralWS/ReporteGeneralWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bibliows.biblioteca.syntaxerror.com/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ReporteGeneralWS" targetNamespace="http://bibliows.biblioteca.syntaxerror.com/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/myholywrapper-v2.1/ReporteGeneralWS?xsd=1" namespace="http://bibliows.biblioteca.syntaxerror.com/" />
    </xsd:schema>
  </types>
  <message name="generarReporte">
    <part name="parameters" element="tns:generarReporte" />
  </message>
  <message name="generarReporteResponse">
    <part name="parameters" element="tns:generarReporteResponse" />
  </message>
  <message name="listarPorPeriodo">
    <part name="parameters" element="tns:listarPorPeriodo" />
  </message>
  <message name="listarPorPeriodoResponse">
    <part name="parameters" element="tns:listarPorPeriodoResponse" />
  </message>
  <message name="reporteGeneral">
    <part name="parameters" element="tns:reporteGeneral" />
  </message>
  <message name="reporteGeneralResponse">
    <part name="parameters" element="tns:reporteGeneralResponse" />
  </message>
  <message name="reporteMaterialesSolicitados">
    <part name="parameters" element="tns:reporteMaterialesSolicitados" />
  </message>
  <message name="reporteMaterialesSolicitadosResponse">
    <part name="parameters" element="tns:reporteMaterialesSolicitadosResponse" />
  </message>
  <portType name="ReporteGeneralWS">
    <operation name="generarReporte">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/ReporteGeneralWS/generarReporteRequest" message="tns:generarReporte" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/ReporteGeneralWS/generarReporteResponse" message="tns:generarReporteResponse" />
    </operation>
    <operation name="listarPorPeriodo">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/ReporteGeneralWS/listarPorPeriodoRequest" message="tns:listarPorPeriodo" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/ReporteGeneralWS/listarPorPeriodoResponse" message="tns:listarPorPeriodoResponse" />
    </operation>
    <operation name="reporteGeneral">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/ReporteGeneralWS/reporteGeneralRequest" message="tns:reporteGeneral" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/ReporteGeneralWS/reporteGeneralResponse" message="tns:reporteGeneralResponse" />
    </operation>
    <operation name="reporteMaterialesSolicitados">
      <input wsam:Action="http://bibliows.biblioteca.syntaxerror.com/ReporteGeneralWS/reporteMaterialesSolicitadosRequest" message="tns:reporteMaterialesSolicitados" />
      <output wsam:Action="http://bibliows.biblioteca.syntaxerror.com/ReporteGeneralWS/reporteMaterialesSolicitadosResponse" message="tns:reporteMaterialesSolicitadosResponse" />
    </operation>
  </portType>
  <binding name="ReporteGeneralWSPortBinding" type="tns:ReporteGeneralWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="generarReporte">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPorPeriodo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="reporteGeneral">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="reporteMaterialesSolicitados">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ReporteGeneralWS">
    <port name="ReporteGeneralWSPort" binding="tns:ReporteGeneralWSPortBinding">
      <soap:address location="http://localhost:8080/myholywrapper-v2.1/ReporteGeneralWS" />
    </port>
  </service>
</definitions>