FrontEnd/FrontEnd/Connected Services/NivelInglesWS/NivelInglesWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://bibliows.biblioteca.syntaxerror.com/" targetNamespace="http://bibliows.biblioteca.syntaxerror.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarNivel" type="tns:eliminarNivel" />
  <xs:element name="eliminarNivelResponse" type="tns:eliminarNivelResponse" />
  <xs:element name="insertarNivel" type="tns:insertarNivel" />
  <xs:element name="insertarNivelResponse" type="tns:insertarNivelResponse" />
  <xs:element name="listarNiveles" type="tns:listarNiveles" />
  <xs:element name="listarNivelesResponse" type="tns:listarNivelesResponse" />
  <xs:element name="modificarNivel" type="tns:modificarNivel" />
  <xs:element name="modificarNivelResponse" type="tns:modificarNivelResponse" />
  <xs:element name="obtenerNivelPorId" type="tns:obtenerNivelPorId" />
  <xs:element name="obtenerNivelPorIdResponse" type="tns:obtenerNivelPorIdResponse" />
  <xs:complexType name="eliminarNivel">
    <xs:sequence>
      <xs:element minOccurs="0" name="idNivel" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarNivelResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerNivelPorId">
    <xs:sequence>
      <xs:element minOccurs="0" name="idNivel" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerNivelPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:nivelesInglesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nivelesInglesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idNivel" type="xs:int" />
      <xs:element minOccurs="0" name="nivel" type="tns:nivel" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarNiveles">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarNivelesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:nivelesInglesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarNivel">
    <xs:sequence>
      <xs:element minOccurs="0" name="idNivel" type="xs:int" />
      <xs:element minOccurs="0" name="nombreNivel" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarNivelResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarNivel">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombreNivel" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarNivelResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="nivel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BASICO" />
      <xs:enumeration value="INTERMEDIO" />
      <xs:enumeration value="AVANZADO" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>